@import "tailwindcss";

:root {
    --background: linear-gradient(135deg, #0A0A23, #2B0A59);
  --foreground: #ffffff;
  --accent: #FFD944;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title), sans-serif;
}
